body {
    background-color: rgb(125, 125, 125);
    text-align: center;
    flex-direction: column;
    align-items: center
   
}
h1 {
    font-size: 4rem; /* Tamanho da fonte */
    color: #2e0303; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.08rem; /* Espaçamento entre letras */
}

footer {
    background-color: #000000; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 100; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}